<!-- ecommerce_platform/frontend/templates/index.html -->

{% extends "base.html" %}
{% block title %}Главная страница{% endblock %}
{% block content %}
<div class="jumbotron" style="background-color: #1e3c72; color: #ffffff;">
    <h1 class="display-4">Добро пожаловать на платформу электронной коммерции</h1>
    <p class="lead">Используйте навигацию, чтобы перейти к различным разделам.</p>
    <hr class="my-4">
    <p>У нас есть все, что вам нужно для успешных покупок.</p>
</div>
{% endblock %}
