<!-- ecommerce_platform/frontend/templates/payments.html -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Платежи</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Платежи</h1>
        <ul id="payments-list" class="list-group"></ul>
    </div>
    <script src="../static/js/payments.js"></script>
</body>
</html>
